<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <div id="chat-container">
      <div id="chat-title">
        <span>Resturant Chatbot</span>
        <div>
          <img src="./images/trash.png" alt="profile" />
          <button>logout</button>
        </div>
      </div>
      <div id="chat-message-list">
        <div class="message-row other-message">
          <div class="message-content">
            <img src="./images/user1.png" alt="chatbot" />
            <div class="message-text">Ok then</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
        <div class="message-row you-message">
          <div class="message-content">
            <div class="message-text">Lorem ipsum dolor sit amet</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
        <div class="message-row other-message">
          <div class="message-content">
            <img src="./images/user1.png" alt="chatbot" />
            <div class="message-text">Hi ! Welcome to Resturant Chatbot !</div>
            <div class="message-time">Apr 16</div>
          </div>
        </div>
      </div>
      <div id="chat-form">
        <input type="text" placeholder="Send a message" />
        <button>Send</button>
      </div>
    </div>
  </body>
</html>