<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
  </head>
  <body>
    <div id="login-container">
      <div id="branding">
        <img src="./images/logo.png" />
        <h1>Login - Resturant Chatbot</h1>
      </div>
      <div id="login-form">
        <form method="post" action="/user/login">
          <input
            type="text"
            name="email"
            placeholder="enter email"
            value=""
            required
          />
          <p class="error show">Error message here</p>
          <input type="password" name="password" placeholder="enter password" required />
          <p class="error show">Error message here</p>
          <input type="submit" value="Login" />
        </form>
      </div>
      <div class="authLink">
        <a href="/register">Not registered yet ?</a>
      </div>
    </div>
  </body>
</html>